body {
	background-image: none ;
}

.nav a {
	color: #ffffff;
}

.corpauthor img {
	width: 100px;
}

.toc, hr {
	display: none;
}

.abstract-title {
	margin-bottom: 10px;
	font-weight:bold;
}

.address {
	border-style: solid;
	border-width: 1px;
}

section.chapter, .bibliography, section.appendix, .book {
        margin-left: 150px;
        margin-right: 150px;
	background-color: #fff;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	moz-border-radius: 0 0 6px 6px;
	moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	webkit-border-radius: 0 0 6px 6px;
	webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	min-height:330px;
	padding: 15px;
}

.book {
	padding: 20px;
}

section {
	background-color: #fff;
}

.topbar .fill
{
	background-color: #498a77;
}

footer {
	margin: 0;
	padding: 0;
	padding-left: 150px;
	padding-right: 150px;
}

.sidebar {
	margin: 0;
	margin-left: 15px; 
	margin-top:  25px;
	margin-right: 170px;
	padding: 15px; 
	padding-bottom: 0;
	width: 250px; 
	float: right; 
	background-color: #eaeaea;
}

.sidebar ul {
	list-style-type: decimal;
}

.sidebar-title {
	margin-bottom: 10px;
}

